.books {
  margin-top: 30px;

  position: relative;
  &__text {
    opacity: 0;
    position: relative;
    z-index: 15;
    transform: scale(0);
    transition: transform 0.3s;
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    width: 235px;
    margin-bottom: 70px;
    padding-top: 20px;
    color: #fff;

    &:nth-child(4n+1) {
      background: url("../images/books-item-1.jpg") center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:nth-child(4n+2) {
      background: url("../images/books-item-2.jpg") center;
      background-size: cover;
    }
    &:nth-child(4n+3) {
      background: url("../images/books-item-3.jpg") center;
      background-repeat: no-repeat;
      background-size: cover;

    }
    &:nth-child(4n+4) {
      margin-right: 0;
      background: url("../images/books-item-4.jpg") center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
      border: 2px dotted $accent-color;
      .books__bar li{
        width: 77px;
      }

    }
    &-price {
      position: absolute;
      bottom: -60px;
      color: #000;
      left: 0;
      font-size: 20px;
    }
    &:hover{
      .books__text{
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  &__star{

      position: absolute;
      right: -20px;
      top: 10px;
      width: 15px;
      height: 15px;
      fill: #335b48;

  }
  &__stars {
    padding: 0;
    list-style-type: none;;
    padding-left: 20px;
    li {
     @include inlineBlock();;
      svg {
        width: 20px;
        height: 20px;
        fill: #fff;
      }
    }
  }
  h3 {
    text-decoration: underline;
    padding-left: 20px;
  }
  P {
    padding-left: 20px;
  }
  &__bar {
    padding: 0;
    list-style-type: none;
    height: 50px;
    margin-bottom: 9px;
    border-top: 1px solid #9fa197;
    font-size: 0;
    width: 100%;
    margin-top: 107px;
    li {
      @include inlineBlock();;
      width: 78px;
      border-right: 1px solid #9fa197;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 10px;
      cursor: pointer;
      &:hover {
        background: #9fa197;
      }
      &:last-child {
        border: none;
      }
      svg {
        width: 40px;
        height: 40px;
        fill: #fff;
      }
    }
  }
  @media($tablet-widths) {
    padding-left: 60px;
    padding-right: 60px;
    &__bar{
      margin-bottom: 5px;
    }
   }
}