.filter {
  font-size: 0;
  padding-top: 20px;
  i {
    display: block;
  }
  span {
    display: none;
  }
  b {
    font-weight: 300;
  }
  &__switch {
    margin-right: 20px;
    margin-bottom: 20px;
    i {
      cursor: pointer;
      width: 37px;
      height: 32px;
      background: url('../images/filter/switch.jpg#filter');
    }

  }
  &__choice, &__price, &__switch, &__view {
    @include inlineBlock();
    padding: 10px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid rgba($accent-color, 0.5);
  }
  &__choice, &__price {
    margin-right: 20px;
    margin-bottom: 20px;
    select {
      border: none;
      font-weight: 300;
      font-size: 20px;
    }
  }
  &__store {
    margin-top: 11px;
    margin-right: 20px;
    margin-bottom: 20px;
    @include inlineBlock();
    font-weight: 300;
    font-size: 20px;
  }
  &__store, &__view {
    ul {
      padding: 0;
      margin: 0;
      @include inlineBlock(middle);
    }
    li {
      list-style-type: none;
      @include inlineBlock();
      @include marginRight(10px);
    }
  }
  &__store-icon {
    cursor: pointer;
    &--yes {
      width: 24px;
      height: 18px;
      background: url('../images/filter/success.png#filter');
    }
    &--time {
      width: 18px;
      height: 18px;
      background: url('../images/filter/time.png#filter');
    }
    &--denied {
      width: 17px;
      height: 17px;
      background: url('../images/filter/denied.png#filter');
    }
  }
  &__view{
    margin-right: 10px;
  }
  &__view-icon {
    cursor: pointer;
    &--block {
      width: 24px;
      height: 20px;
      background: url('../images/filter/block.png#filter');
    }
    &--inline {
      width: 33px;
      height: 21px;
      background: url('../images/filter/inline.png#filter');
    }
  }
  @media($tablet-widths) {
    padding-left: 60px;
   }
  @media($desktop-widths) {
    padding-right: 60px;

      &__view{
        float: right;
      }
   }
}