.footer {

  padding-top: 40px;
  &__items {
    @include clearfix;
    margin-bottom: 30px;
  }
  &__item {
    float: left;
    min-width: 225px;
    width: 33.3%;
    a {
      @include inlineBlock();
      position: relative;
      color: #508c36;
      font-size: 24px;
      margin-bottom: 20px;
      span {
        display: inline;
      }
      &:hover {
        text-decoration: none;
      }
    }
    p {
      @include inlineBlock();
      color: #8d8d8d;
      font-size: 17px;
      margin-top: 9px;
      margin-left: 4px;
    }
    &--catalog {
      min-width: 335px;
    }
    &--social {
      padding-left: 10px;
      a {
        display: block;
      }
    }
    &--contact {
      p {
        line-height: 30px;
      }
    }
  }
  @media($tablet-widths) {
    padding-left: 60px;
   }
}