.header {
  background: linear-gradient(to right, #015E27, #1e5173);
  position: relative;
  &__top {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 60px;

  }
  &__logo {
    margin-bottom: 20px;
    a {
      display: block;
      text-decoration: none;
      img {
        @include inlineBlock();
        position: relative;
        left: -55px;

      }
    }
  }
  &__title {
    position: relative;
    left: -50px;
    @include inlineBlock();
    width: 110px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
  }
  &__links {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    a {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 20px;
      padding: 10px;

      width: 280px;
      background: transparent;
      text-align: center;
      color: #fff;
      text-decoration: none;
      border-radius: 10px;
      border: 1px solid rgba(#fff, 0.2);
      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
  &__search {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;

  }
  &__search-field {
    width: 190px;
    background: inherit;
    padding: 10px 0 10px 20px;
    font-size: 24px;
    border: none;
  }
  &__search-submit {
    padding: 10px;
    background: inherit;
    border: 1px solid rgba(#fff, 0.2);
    color: #fff;
    opacity: 0.5;
  }
  &__breadcrumbs {
    ul {

    }
    li {
      list-style-type: none;
      margin-bottom: 10px;
    }
    a {
      display: block;
      color: #fff;

      &:hover {
        text-decoration: none;
      }
    }
  }
  @media($tablet-widths) {

    &__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &__links {
      font-size: 0;
      a {
        font-size: 16px;
        @include inlineBlock();
        width: auto;
        &:first-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:nth-child(2) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-left: none;
        }
      }
    }
    &__bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 60px;
      position: relative;

      padding-bottom: 40px;
    }
  }
  @media($desktop-widths) {
    &__links-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 1;
    }
    &__links {
      width: auto;
      &:first-child {
        flex-grow: 1;
      }
    }
    &__search{

      width: auto;
      margin-left: 20px;
      margin-right: inherit;
    }
    &__breadcrumbs{
      li{
        @include inlineBlock();
        @include marginRight(20px);
      }
    }
  }
}
