.menu {
  width: 100%;
  position: absolute;
  top: 190px;
  padding-top: 20px;
  background: #fff;
  &--none {
    display: none;
  }
  &--visible {
    display: block;
  }
  &__select {
    width: 75%;
    color: $accent-color;
    padding: 5px 10px;
    border: 1px solid rgba($accent-color, 0.3);
    list-style-type: none;
    &--desktop {
      span {
        display: none;
      }
    }
  }
  &__list {
    padding: 0;
    li ul {
      display: none;
    }
    li:hover > ul {
      display: block;
    }
  }
  &__item {
    list-style-type: none;
  }
  &__link {
    position: relative;
    @include inlineBlock();
    color: darken($accent-color, 15%);
    text-decoration: none;
    padding: 13px 25px;
    &:hover {
      color: $accent-color;
      background-color: rgba(#015e27, 0.3);
    }
    //  &::after, &::before {
    //    opacity: 1;
    //  }
    //}
    //&::after {
    //
    //  position: absolute;
    //  display: block;
    //  right: -24px;
    //  top: 12px;
    //  transform: translateY(-50%);
    //  content: "";
    //  border: 12px solid rgba(#015e27, 0.3);
    //  border-top-color: transparent;
    //  border-right-color: transparent;
    //  opacity: 0;
    //}
    //&::before {
    //  position: absolute;
    //  display: block;
    //  right: -24px;
    //  top: 36px;
    //  transform: translateY(-50%);
    //  content: "";
    //  border: 12px solid rgba(#015e27, 0.3);
    //  border-bottom-color: transparent;
    //  border-right-color: transparent;
    //  opacity: 0;
    //}
  }
  @media($tablet-widths) {
    padding-bottom: 20px;
    &__select {
      display: none;
      &--desktop {
        display: block;
        position: relative;
        @include inlineBlock();
        padding: 0;
        font-size: 0;
        width: auto;
        border-radius: 5px;
        z-index: 3;
        span {
          display: block;
        }
        & > li {
          font-size: 16px;
          @include inlineBlock();
          color: $accent-color;
          padding: 10px;
          cursor: pointer;
          border-radius: 5px;
          &:hover {
            background-color: rgba(#015e27, 0.3);
            > ul {
              display: block;
            }
          }

        }
      }
    }
    &__list {
      display: none;
      width: 220px;
      background-color: #fff;
      top: 50px;
      left: -2px;
      position: absolute;
      border: 1px solid rgba($accent-color, 0.5);
      padding: 20px;
      z-index: 3;
      &::after {
        position: absolute;
        display: block;
        content: "";
        top: -20px;
        left: 0;
        width: 100%;
        height: 30px;
        background: transparent;
      }
    }
    &__item {
      ul {
        position: absolute;
        width: 220px;
        padding: 20px;
        left: 100%;
        top: 0;
        border: 1px solid rgba($accent-color, 0.5);
        background: #fff;
        &::before {
          position: absolute;
          display: block;
          content: "";
          left: -40%;
          width: 70%;
          height: 60%;
          background: transparent;
        }
      }
    }
  }
  @media($desktop-widths) {
    top: 135px;
    &__list{
      width: 395px;
    }
    &__item{
      ul{
        width: 395px;
      }
    }
  }
}