.pagination {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  &__number {
    @include inlineBlock(middle);
    ul {
      @include inlineBlock();
      @include noList;
      margin-bottom: 20px;
      li {
        @include inlineBlock();
        margin-right: 5px;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background: $accent-color;
        }
      }
    }
    @media(--mobile-widths-only) {
      margin-bottom: 20px;
    }
  }
  &__active {
    background: $accent-color;
  }
  &__next {
    @include inlineBlock(middle);
    border: 1px solid $accent-color;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;

    list-style-type: none;
    color: inherit;
    text-decoration: none;
    svg {
      width: 10px;
      height: 10px;
    }

    &:hover {
      text-decoration: underline;
    }

  }
  &__view {
    @include inlineBlock();
    margin-left: 30px;
    padding-top: 10px;
    ul {
      padding: 0;
      list-style-type: none;
      @include inlineBlock();
      border: 1px solid $accent-color;
      border-radius: 5px;
      margin-top: -10px;
      li {
        @include inlineBlock();
        padding: 10px;
        cursor: pointer;
        &:hover {
          background: $accent-color;
        }
      }
    }
  }
  @media($tablet-widths) {
    padding-left: 60px;
   }
}