#container {
  text-align: left;
  position: relative;
  padding: 2em 0;
  overflow: hidden;
}

ul#items {
  margin: auto;
  width: 90%;
  height: 360px;
  overflow: hidden;
}

ul#items> li {
  list-style: none;
  float: left;
  height: 360px;
  color: #555;
}

ul#items li .image {
  margin: 20px 20px 10px 20px;
  width: 220px;
  height: 150px;
  overflow: hidden;
  border: 2px solid #fff;
  box-shadow: 0 1px 1px #bbb;
}

ul#items h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin: .25em 0;
  margin-top: 20px;
  text-shadow: #f1f1f1 0 1px 0;
}

ul#items .info {
  color: #999;
  text-shadow: #f1f1f1 0 1px 0;
}

ol#pagination {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: left;
  background: linear-gradient( to right, #124e29, #0654f6);
  height: 8px;
  padding-right: 40px;
}

ol#pagination li {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 125px;
  height: 16px;
  background: transparent;
  text-align: left;
  text-indent: -8000px;
  list-style: none;
  cursor: pointer;
}

ol#pagination li.current {
  background: #8fcc81;
}

ol#pagination li.prev,
ol#pagination li.next {
  position: absolute;
  top: -200px;
}

ol#pagination li.prev {
  background: url(../images/bg_buttons.png) no-repeat 0 -64px;
}

ol#pagination li.next {
  right: 35px;
  background: url(../images/bg_buttons.png) no-repeat 0 -48px;
  @media(min-width: 1190px) {
    right: 30px;
  }
}
@media($tablet-widths) {
  ol#pagination li.next{
    right: 125px;
  }
}
.slider {
  &__item {
    position: relative;
    background: url("../images/books-item-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 230px;
    margin-right: 20px;
    h3 {
      text-decoration: underline;
    }
    &:nth-child(4n+2) {
      background: url("../images/books-item-2.jpg") center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:nth-child(4n+3) {
      background: url("../images/books-item-3.jpg") top center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:nth-child(4n+4) {
      background: url("../images/item.jpg") top center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-price {
      position: absolute;
      bottom: -20px;
      color: #000;
      margin-left: 20px;
      font-size: 18px;
      font-weight: 700;
    }
    &:hover{
      .slider__text{
        transform: scale(1);
      }
    }
  }
  &__star{
    position: absolute;
    right: -15px;
    top: 10px;
    width: 15px;
    height: 15px;
    fill: #335b48;
    z-index: 3;
  }
  &__stars {
    @include noList;
    li {
     @include inlineBlock();
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__text {
    position: relative;
    z-index: 3;
    margin-top: 20px;
    color: #fff;
    transform: scale(0);
    transition: transform 0.3s;
    svg {
      fill: #fff;
    }
  }
  &__block{
    padding-left: 20px;
  }
  &__bar {
    position: relative;
    z-index: 3;
    @include noList;
    height: 75px;
    border-top: 1px solid #9fa197;
    font-size: 0;
    width: 100%;
    margin-top: 107px;
    li {
     @include inlineBlock();
      width: 33.3%;
      border-right: 1px solid #9fa197;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 23px;
      cursor: pointer;
      &:hover {
        background: #9fa197;
      }
      &:last-child {
        border: none;
      }
      svg {
        width: 40px;
        height: 40px;
        fill: #fff;
      }
    }
  }
}